@font-face {
    src: local('arial-narrow'), url(/src/components/fonts/arial-narrow.ttf) format('truetype');
    src: local('Insanibc'), url(/src/components/fonts/Insanibc.ttf) format('truetype');
}

section
strong {
    font-family:'Insanibc';
}
section
div
p{
    font-family: 'arial';
}
section
div
link #Button{
    font-family: 'arial-narrow';

}