@font-face {
    src: local('arial-narrow'), url(/src/components/fonts/arial-narrow.ttf) format('truetype');
    src: local('Insanibc'), url(/src/components/fonts/Insanibc.ttf) format('truetype');
}

.materias > body{
background: #fff;
padding: 0;
margin: 0;
font-family: 'Insanibc';
}
.materias{
width: 95%;    height: 600px;
display: flex;
transition: .9s;
margin: 15%;
padding: 1px;
background: red;
}
.materias .container .col{
position: relative;
width: calc(100% / 4);    height: 100%;
transition: .9s;
}
.materias .container .col:hover{
transform: scale(1.1);
z-index: 5;
}
.materias .container .col:nth-child(1) span{
background: #1B62BF;
}
.materias .container .col:nth-child(2) span{
background: #1B62BF;
}
.materias .container .col:nth-child(3) span{
background: #1B62BF;
}


/***************** span ******************/
.materias .container .col span{
position: absolute;
display: block;
width: 100%;   height: 50%;
text-align: center;
color: #fff;
display: flex;
justify-content: center;  align-items: center;
transition: .9s;
z-index: 1;
}
.materias .container .col span:nth-child(1){
top: 0;
}
.materias .container .col span:nth-child(2){
top: 50%;
}
.materias .container .col span.active{
    z-index: 2;
}
.materias .container .col span .fa{
font-size: 60px;
}
.materias .container .col span h2{
font-size: 20px;
}
.materias .container .col span a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    color: #262626;
    border-radius: 20px;
    margin-top: 10px;
    transform: scale(0);
    transition: .5s;
}
.materias .container .col:hover span a{
transform: scale(1);
}
.materias .container .col:hover span a:hover{
background: #328BD9;   color: #fff;
}
.materias .container .col span img{
width: 100%;  height: 100%;
}

@media screen and (max-width: 850px) {
    .materias .container{
        height: 200px;  width: 100%;
}
.materias .container .col span{
    height: 100%;
}
.materias .container .col span:nth-child(2){
    top: 0;
}
}
/***************** span ******************/
.materias .container .col span{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;   height: 50%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;  align-items: center;
    transition: .9s;
    z-index: 1;
}
.materias .container .col span:nth-child(1){
    top: 0;
}
.materias .container .col span:nth-child(2){
    top: 50%;
}
.materias .container .col span.active{
    z-index: 2;
}
.materias .container .col span .fa{
    font-size: 60px;
}
.materias .container .col span h2{
    font-size: 20px;
}
.materias .container .col span a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background: #fff;   color: #262626;
    border-radius: 20px;
    margin-top: 10px;
    transform: scale(0);
    transition: .5s;
}
.materias .container .col:hover span a{
    transform: scale(1);
}
.materias .container .col:hover span a:hover{
    background: #00bcd4;   color: #fff;
}
.materias .container .col span img{
    width: 100%;  height: 100%;
}

@media screen and (max-width: 850px) {
    .materias   .container{
        height: 200px;  width: 100%;
    }
    .materias  .container .col span{
        height: 100%;
    }
    .materias   .container .col span:nth-child(2){
        top: 0;
    }
}

@media screen and (max-width: 600px) {
    .materias   .container{
       height: calc(200px * 4);  width: 100%; display: block;
    }
    .materias   .container .col{
        height: 200px;  width: 100%;
    }
    .materias  .container .col span{
        height: 100%;  width: 100%;
    }
}